
.background{
    background-color: #002B5B;
    background-image: url("./perdido.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.texto404{
    display: flex;
    color: white;
    grid-area: texto;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-top: 2rem;
    width: 95%;
}
.error404{
    font-size: 4.5rem;
    grid-area: error404;
    display: flex;
}
.error404380px{
    display: none;
}
.john{
    grid-area: gif;
    display: flex;
    max-width:100%;
    max-height:100%;
}
.padre{
    display: grid;
    grid-template-rows: auto; 
    grid-template-columns: 50% 50%;
    align-items: stretch;
    grid-template-areas:
    "error404 gif"
    "texto gif"
    ;
} 
@media (max-width: 650px) {
    .padre{
        width: 100%;
        display: grid;
        grid-template-rows: auto; 
        grid-template-columns: 50% 50%;
        align-items: stretch;
        grid-template-areas:
        "error404 error404"
        "texto gif"
        ;
        
    } 
    .error404{
        width: 100%;
        padding-left: 0%;
        padding-top: 0%;
        font-size: 3rem;
    }
    .texto404{
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-top: 1rem;
        width: 90%;
    }
    .john{
        height: 100%;
    }
}

@media (max-width: 380px) {
    .padre{
        width: 100%;
    }
    .texto404{
        width: 85%;
    }
    .error404380px{
        grid-area: error404;
        font-size: 2rem;
        display: flex;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1.5rem;
        font-weight: bold;
    }
    .error404{
        display: none;
    }
}